<h1 class="text-center mt-4 mb-4 fw-bold">Categories management</h1>

<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <ul class="d-flex align-items-center nav nav-pills">
    <li class="nav-item">
      <%= button_to "Add category", new_category_path, method: "get", 
      class: "btn btn-outline-dark btn-lg shadow mb-5 me-3" %>
    </li>
    <li class="nav-item">
      <%= button_to "Remove category", categories_remove_path, method: "get", 
      class: "btn btn-outline-dark btn-lg shadow mb-5 me-3" %>
    </li>
    <li class="nav-item">
      <%= button_to "Edit category", categories_pre_edit_path, method: "get", 
      class: "btn btn-outline-dark btn-lg shadow mb-5 me-3" %>
    </li>
  </ul>
</div>

<div class="d-flex flex-wrap justify-content-center py-3 mb-4">
  <ul class="d-flex align-items-center nav nav-pills">
    <li class="nav-item">
      <%= button_to "Add book in category", new_group_path, method: "get", 
      class: "btn btn-outline-dark btn-lg shadow mb-5 me-3" %>
    </li>
    <li class="nav-item">
      <%= button_to "Remove book from category", groups_remove_path, method: "get", 
      class: "btn btn-outline-dark btn-lg shadow mb-5 me-3" %>
    </li>
  </ul>
</div>
