<div class="container">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% @books.each do |book| %>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-title">Title: <%= link_to book.title, book %></p>
            <p>
              Categories:
              <% book.categories.each do |category| %>
                <%= category.name %>
              <% end %>
            </p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group text-center">
                <%= button_to "View", book, method: :get, class: "btn btn-sm btn-outline-secondary me-2" %>
                <%= button_to "Edit", edit_book_path(book), method: :get, class: "btn btn-sm btn-outline-secondary me-2" %>
                <%= button_to "Delete", book_path(book), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm btn-outline-secondary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
